name: Deploy

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: ls
      - name: Before DB env
        run: cat ./src/config/config.js 

      - run: sed -i "s/process.env.DB_USER/'bYD4ZDMsh1'/g"  ./src/config/config.js 
      - run: sed -i "s/process.env.DB_NAME/'bYD4ZDMsh1'/g"  ./src/config/config.js 
      - run: sed -i "s/process.env.DB_PASS/'FgOmcxE5NS'/g"  ./src/config/config.js 
      - run: sed -i "s/process.env.DB_HOST/'remotemysql.com'/g"  ./src/config/config.js

      - name: After DB env
        run: cat ./src/config/config.js 
      
      - name: Install dependencies
        run: npm install
      
      - name: Run migrations
        run: npm run migrate
      
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "safehouse-api-fatec" # Must be unique in Heroku
          heroku_email: "cristian123105@@gmail.com"