name: Deploy

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: chmod +x ci/env.bat
      - run: ci/env.bat
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "safehouse-api-fatec" # Must be unique in Heroku
          heroku_email: "cristian123105@@gmail.com"