name: Run tests

on:  
  push:
  pull_request:
    branches:
      - main

jobs:  
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Install dependencies
        run: npm install.

      - name: Run tests 
        run: npm test
