name: Run tests

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      mysql:
        env:
          MYSQL_ROOT_PASSWORD: safehouse
          MYSQL_DATABASE: safehouse
          MYSQL_USER: root
        image: mysql
        ports:
          - 3306:3306

    env:
      MYSQL_ROOT_PASSWORD: safehouse
      MYSQL_DATABASE: safehouse
      MYSQL_USER: root  

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up MySQL
        run: |
          sudo /etc/init.d/mysql start
          mysql -h 127.0.0.1 --port 3306 -u root -e 'CREATE DATABASE ${{ env.MYSQL_DATABASE }};' 

      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"

      - name: Install Dependencies
        run: npm install

      - name: Run tests
        run: npm run test:docker
